html {
  height: 100%;
}

body {
  background: linear-gradient(90deg, rgb(230, 214, 162), rgb(168, 214, 179), rgb(147, 211, 203));
  margin: 0px;
  height: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  background-color: rgba(235, 235, 235, 0.658);
  width: 50vw;
  margin: auto;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#title,
#description {
  text-align: center;
}

#survey-form {
  padding-bottom: 2vh;
}

#survey-form > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  padding: 1vw;
}

.labels {
  grid-column: 1 / 2;
  text-align: right;
  padding-right: 1vw;
  margin-top: 0px;
}

.ans {
  grid-column: 2 / 3;
}

input[name="submit"] {
  margin: auto;
  display: block;
  background-color: beige;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23);
  font-weight: 600;
  margin-bottom: 0.5vh;
}

main, input[name="submit"] {
    border-radius: 3px;
  border: 1px solid rgb(103, 122, 51);
}