html,
body,
main {
  height: 100%;
}

body {
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --navbar-height: 60px;
  --footer-height: 60px;
}

#page-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: var(--footer-height);
}

#navbar {
  position: fixed;
  height: var(--navbar-height);
  top: 0px;
  width: 100%;
  background-color: rgba(170, 115, 57, 0.15);
  z-index: 10;
}

#navbar > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  margin-right: 10px;
}

#navbar > ul > li > a {
  text-decoration: none;
  margin: 4px;
  font-weight: 600;
  color: black;
}

#navbar > ul > li > a:hover {
  color: #ffd6aa;
}

#welcome-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d4a16a;
  background: linear-gradient(90deg, #ffe6aa, #ffd6aa, #6c929f, #7b84ae);
}

h1,
h2 {
  font-size: 3.2rem;
}

#welcome-section > p {
  font-size: 2.5rem;
  margin: 0;
}

h2 {
  text-align: center;
  margin: 0;
  padding: 65px 0px 25px 0px;
}

#projects {
  min-height: 100vh;
  background-color: #ffd6aa;
  padding-bottom: 20px;
}

#projects > h2 {
  font-size: 2.8rem;
}

#projects > div {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: auto;
}

.project-tile {
  padding-top: 10px;
  display: flex;
  max-height: 400px;
  flex: 1 0 33%;
  flex-direction: column;
  max-width: 100%;
  min-height: 372.5px;
  min-width: 320px;
}

.project-tile:hover img {
  border: 2px dashed #552c00;
}

.project-tile:hover h3::before {
  content: "< ";
}

.project-tile:hover h3::after {
  content: " />";
}

.project-tile:hover h3::before,
h3::after {
  color: #552c00;
}

h3 {
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
  min-width: 0;
  max-height: 330px;
  border: 2px solid rgba(0, 0, 0, 0);
}

#contacts {
  height: calc(100vh - var(--footer-height));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d4b56a;
}

#contact-links {
  display: flex;
  flex-direction: row;
}

#contact-links > a {
  padding: 8px;
  font-weight: 600;
}

i > img {
  max-width: 100%;
  display: block;
  margin: auto;
  height: 40px;
}

a:hover i > img {
  height: 41px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #552c00;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #457585;
  height: var(--footer-height);
  font-family: monospace;
  font-weight: 600;
  color: #ffd6aa;
}
